({:post "dev-resources/leiningen/tamaki/post/2015-01-19-lorem-ipsum.md", :relation ({:post "dev-resources/leiningen/tamaki/post/2015-01-29-lorem-ipsum.md", :score 0.02195880056341621} {:post "dev-resources/leiningen/tamaki/post/2015-05-28-lorem-ipsum.md", :score 0.02153783977434482})} {:post "dev-resources/leiningen/tamaki/post/2015-01-29-lorem-ipsum.md", :relation ({:post "dev-resources/leiningen/tamaki/post/2015-01-19-lorem-ipsum.md", :score 0.02195880056341621} {:post "dev-resources/leiningen/tamaki/post/2015-05-28-lorem-ipsum.md", :score 0.01570575131882039})} {:post "dev-resources/leiningen/tamaki/post/2015-05-28-lorem-ipsum.md", :relation ({:post "dev-resources/leiningen/tamaki/post/2015-01-19-lorem-ipsum.md", :score 0.02153783977434482} {:post "dev-resources/leiningen/tamaki/post/2015-01-29-lorem-ipsum.md", :score 0.01570575131882039})})